div{
    display: inline-block;
    width: 70px;
    height: 5px;
    margin: 5px 25px;
    padding: 10px;
 
}
mat-card{ 
    text-align: center;
    vertical-align: middle;
    object-fit: contain;
        
}