div{
    display: inline-block;
    width: 70px;
    margin: 5px 22px;
    text-align: center;
    vertical-align: middle;
    object-fit: contain;

}
mat-card{
  display: flex;
  justify-content: center;
  align-items: center;
}
