<div style="min-width: 1000px;">
    <mat-card style="background-color: #297cd0; color:white; height: 80px;">
        <div>
            ID
        </div>
        <div>
            Query
        </div>
        <div style="width: 150px;">
            Url
        </div>
        <div>
            Score
        </div>
        <div>
            Length
        </div>
        <div>
            Average length
        </div>
        <div>
            Created
        </div>
    </mat-card>


    <mat-card *ngFor="let gugu of history.reverse(); let i = index">
        <div>
            {{i+1}}
        </div>
        <div>
            {{gugu.query}}
        </div>
        <div style=" width: 150px; word-wrap: break-word;">
            {{gugu.url}}
        </div>
        <div>
            {{gugu.score}}
        </div>
        <div>
            {{gugu.length}}
        </div>
        <div>
            {{gugu.average_length}}
        </div>
        <div>
            {{gugu.created_at | date}}
        </div>
    </mat-card>
</div>
